# Зависимости
node_modules/

# Файлы сборки (папка dist)
dist/

# Логи npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Настройки редакторов и ОС
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
